/* Login.module.css */
.loginContainer {
    background-image: url('../styles/images/op_bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.container {
    width: 70%;
}

.paper {
    padding: 24px;
    background-color: #000;
    color: #fff;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.2);
}

.logo {
    margin-bottom: 20px;
    text-align: center;
}

.logoImage {
    width: 200px;
}

.formField {
    margin-bottom: 20px;
}

.formLabel {
    color: #fff;
}

.passwordField {
    position: relative;
}

.textInput {
    background-color: #111;
    color: #fff;
}

.showPasswordButton {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: #888;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    padding: 0.25rem;
}

.rememberMeContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.rememberMeLabel {
    display: flex;
    margin-right: -100px;
}

.rememberMeText {
    margin-left: -103px;
    font-size: 14px;
}

.forgotPasswordText {
    font-size: 14px;
}

.buttonContainer {
    display: flex;
    justify-content: space-between;
}

.registerButton {
    background-color: #222;
    color: #fff;
    cursor: not-allowed;
    pointer-events: none;
}

.loginButton {
    background-color: #222;
    color: #fff;
}